%li.comment{:id => "comment_#{comment.id}"}
  .byline
    == #{comment.author}: #{comment.created_at}
    == [#{link_to('Reply', reply_to(comment))}]
  .content= comment.body
  %ul
    - comment.replies.each do |reply|
      = partial 'comments/show', :comment => reply
