%h2== New Comment for <i>#{@article.title}</i>

= error_messages_for :comment

- form_for(@comment, :action => url(:article_comments, :article_id => @article.id)) do |f|
  %input{:type => 'hidden', :name => 'parent_id', :value => params[:parent_id]}
  %p= text_control :author, :label => 'Your name:'
  %p= text_control :email,  :label => 'Your email:'
  %p= text_area_control :body, :label => 'Your comments:'
  %p
    = submit_button "Comment Now!"

= link_to 'Back', url(:article_comments, :article_id => @article.id)
