%h2== New Comment for <i>#{@article.title}</i>

= error_messages_for :comment

= form_for(@comment, :action => comments_url(@article)) do |f|
  %input{:type => 'hidden', :name => 'parent_id', :value => params[:parent_id]}
  %p= text_field :author, :label => 'Your name:'
  %p= text_field :email,  :label => 'Your email:'
  %p= text_area :body, :label => 'Your comments:'
  %p
    = submit "Comment Now!"

= link_to 'Back', article_url(@article)
