.pagination
  - if collection.current_page == 1
    %span#pagePrevious.pageDisabled= "&laquo;"
  - else
    = link_to("&laquo;", url(params.merge({:page => collection.current_page - 1})), :id => 'pagePrevious')

  - page_set(collection, padding).each do |page|
    - if page == 0
      %span.pageSpacer= "..."
    - elsif page == collection.current_page
      %span.pageCurrent= page
    - else
      = link_to(page, url(params.merge({:page => page})), :class => "pageNumber")
  - if collection.current_page == collection.pages
    %span#pageNext.pageDisabled= "&raquo;"
  - else
    = link_to("&raquo;", url(params.merge({:page => collection.current_page + 1})), :id => 'pageNext')
