<h1>Articles controller, edit action</h1>

<p>Edit this file in <tt>app/views/articles/edit.html.erb</tt></p>

<%= error_messages_for :article %>

<% form_for(@article, :action => url(:article, @article)) do %>

  <p>
    <b>Title</b><br />
    <%= text_control :title %>
  </p>

  <p>
    <b>Body</b><br />
    <%= text_area_control :body %>
  </p>

  <p>
    <b>Published?</b><br />
    <%= checkbox_control :published %>
  </p>

  <p>
    <b>Comments allowed?</b><br />
    <%= checkbox_control :comments_allowed %>
  </p>

  <p>
    <%= submit_button "Update" %>
  </p>
<% end %>

<%= link_to 'Show', url(:article, @article) %> |
<%= link_to 'Back', url(:articles) %>
