<h1>Articles controller, index action</h1>

<p>Edit this file in <tt>app/views/articles/index.html.erb</tt></p>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Published at</th>
    <th>Comments allowed at</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

<% for article in @articles %>
  <tr>
    <td><%=h article.id %></td>
    <td><%=h article.title %></td>
    <td><%=h article.published_at %></td>
    <td><%=h article.comments_allowed_at %></td>
    <td><%=h article.created_at %></td>
    <td><%=h article.updated_at %></td>
    <td><%= link_to 'Show', url(:article, article) %></td>
    <td><%= link_to 'Edit', url(:edit_article,  article) %></td>
    <td><%= delete_button :article, article %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New', url(:new_article) %>
