<h1>Articles controller, new action</h1>

<%= error_messages_for :article %>

<% form_for(@article, :action => url(:articles) ) do |f| %>

  <p>
    <b>Title</b><br />
    <%= text_control :title %>
  </p>

  <p>
    <b>Body</b><br />
    <%= text_area_control :body %>
  </p>

  <p>
    <b>Published?</b><br />
    <%= checkbox_control :published %>
  </p>

  <p>
    <b>Comments allowed?</b><br />
    <%= checkbox_control :comments_allowed %>
  </p>

  <p>
    <%= submit_button "Create" %>
  </p>
<% end %>

<%= link_to 'Back', url(:articles) %>
