<h1>Articles controller, show action</h1>

<p>Edit this file in <tt>app/views/articles/show.html.erb</tt></p>

<p>
  <b>Id:</b>
  <%=h @article.id %>
</p>

<p>
  <b>Title:</b>
  <%=h @article.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @article.body %>
</p>

<p>
  <b>Published at:</b>
  <%=h @article.published_at %>
</p>

<p>
  <b>Comments allowed at:</b>
  <%=h @article.comments_allowed_at %>
</p>

<p>
  <b>Created at:</b>
  <%=h @article.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @article.updated_at %>
</p>


<%= link_to 'Edit',  url(:edit_article,  @article) %> |
<%= link_to 'Back', url(:articles) %>
