!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en-us", 'lang' => "en-us"}
  %head
    %title= @site.name
    %meta{'http-equiv' => "content-type", 'content' => "text/html; charset=utf-8"}
    = css_include_tag(:master)
    %link{:href => "/articles.xml", :rel => "alternate", :type => "application/x.atom+xml", :title => "#{@site.name} Atom Feed"}
  %body

    #container
      #header-container
        %h1= @site.name
        %h2 wistle + merb + datamapper
        %hr
    
      #left-container
        %h3
          = link_to 'Recent Articles', '/'
        %ul
          - @site.published_articles(:limit => 15).each do |article|
            %li
              = link_to article.title, article_url(article)
        %br
        %h3 Categories
        %ul
          - @site.categories.each do |category|
            - if category.published?
              %li= link_to(category.name, "/#{category.path}")
  
      #main-container
        = (catch_content :for_layout)
        %br
        = pagination(@articles, 5) if @articles && params[:controller].to_s != 'sitemap'
  
      #footer-container
        %hr
        .left
        .right merb (and most of this layout) &copy; 2007 the merb dev team
        %p &nbsp;
